TASK 1 --  1.1

In [92]:
def myreduce(lst1):
    total=0
    if len(lst1)>1:
        for i in lst1:
            total=total+i
        return total

In [93]:
a=list(range(22,50))
b=myreduce(a)
print(b)

994

TASK 1-- 1.2

In [133]:
def fuc1_check(i):
    if i%2!=0:
        return True
    
def my_filter(ite):
    res1=[]
    for i in ite:
        a=fuc1_check(i)
        if a==True:
            res1.append(i)
    return res1

In [135]:
a3=[]
a2=[1,2,3,4,5,6,7,8,9,10]
a3=my_filter(a2)
print(a3)

[1, 3, 5, 7, 9]

2nd Question

In [3]:
a1=['A','C','A','D','G','I','L','D']
a2=[row for row in a1]

In [4]:
a2

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

next question

In [16]:
lst12=['x','y','z']
ite=range(1,5)
lst_res=[j*i for j in lst12 for i in ite]
lst_res

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

next question

In [17]:
lst12=['x','y','z']
ite=range(1,5)
lst_res=[j*i for i in ite for j in lst12]
lst_res

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

next question

In [70]:
g1=[2,3,4]
g2=[2,3,4,5]

In [71]:
res=[[i+t] for i in g1 for t in range(0,3)]
print(res)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

next question

In [86]:
res1=[[i+t1 for t1 in range(0,4)]for i in g2]

In [87]:
res1

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

next question

In [91]:
l1=[1,2,3]
rest=[(j,i) for i in l1 for j in l1]

In [92]:
rest

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

3--longest word return

In [138]:
def longestWord(param):
    param.sort(key=len,reverse=True)
    return param[0]

In [141]:
str11=input("enter the list of words seperated by space ")

enter the list of words seperated by space suraj uday harsh poonam phildjajdksakad

In [142]:
lon=str11.split()
a=longestWord(lon)
print(a)

phildjajdksakad

TASK 2 --1.1

In [74]:
class len_s():
    def __init__(self,a,b,c):
        self.side1=a
        self.side2=b
        self.side3=c 
        
        
class area_tr(len_s):
    def __init__(self,a,b,c):
        super().__init__(a,b,c)
        
    def area1(point):
        point.semi=(point.side1)+(point.side2)+(point.side3)
        point.area=(point.semi*(point.semi-point.side1)*(point.semi-point.side2)*(point.semi-point.side3))**0.5
        return (point.area)

var1=int(input("enter the side 1 "))
var2=int(input("enter the side 2 "))
var3=int(input("enter the side 3 "))
a2=area_tr(var1,var2,var3)
a3=a2.area1()
print("area of triangle is ",a3)

enter the side 1 3
enter the side 2 4
enter the side 3 5
area of triangle is  77.76888838089432

TASK 2--1.2

In [134]:
def filter_long_words(lst1,n):
    lst2=[]
    lst1.sort(key=len,reverse=True)
    for i in lst1:
        if len(i)>n:
            lst2.append(i)
    return lst2

In [143]:
str1=input("enter the list of words seperated by space ")
str2=input("enter the integer you want ")

enter the list of words seperated by space suraj khanna poonam
enter the integer you want 5

In [144]:
lst1=str1.split()
n=int(str2)
a11=filter_long_words(lst1,n)
print(a11)

['khanna', 'poonam']

2.1

In [147]:
def str_to_int(a):
    lst12=[]
    for i in a:
        lst12.append(len(i))
    return lst12

In [152]:
str12=input("enter the string values seperated by space ")

enter the string values seperated by space suraj uday harsh poonam khanna

In [153]:
lsr=str12.split()
res=str_to_int(lsr)
print(res)

[5, 4, 5, 6, 6]

2.2

In [157]:
def str_len(param):
    chck1=['a','e','i','o','u']
    if param in chck1:
        return True
    else:
        return False

In [168]:
str3=input("enter the character")

enter the charactere

In [169]:
r=str_len(str3)
print(r)

True